body {
    display: flex;
    width: 100%;
    margin: 0 auto;
    font-family: 'merriweather', 'Montserrat';
    font-size: 18px;
    vertical-align: text-bottom;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

header{
    margin: 80px;
    padding-left: 100px;
    float: right;
    
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px;
  
  
}

.topnav a {
  color: #615338;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: #ADBE88;
}

.topnav a.active {
  background-color: #ffffff;
  color: #615338;
}

.topnav-right {
  float: right;
  bottom: auto;
}


body {
  --grey: #615338;
  --white: #fff;
  --light-green: #adbe88;
}

.jumbotron {
  color: var(--white);
  text-shadow: 2px 2px var(--grey);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  padding-top: 50px;
}

.jumbotron--flowers {
  background-image: url(images/wildflowers.jpg);
}

.jumbotron--trees {
  background-image: url(images/apple.jpg);
}

.jumbotron--creatures {
  background-image: url(images/beeFlower.jpg);
}

.jumbotron--home {
  background-image: url(images/goldfinch1.jpg);
}

.jumbotron--bird {
  background-image: url(images/owlFlower.jpg);
}
p {
    font-family: 'montserrat';
    font-size: 16px, black;
    margin: 40px,;
    padding: 20px;
}
.btn {
    background-color: #ADBE88;
    border: #ADBE88;
    margin: 20px;
}

h1{
    font-size: 35px;
    margin: 20px;
    margin-top: 10px;
    font-family: 'merriweather';

}


h2 {display: flex;
    width: 100%;
    font-size: 22pt;
    text-align: center;
    font-family: 'merriweather';
    color: #ffffff;
    padding: 60px; 
    background-color: #ADBE88;
    margin-top: 10px;
    
}
h3{
    font-size: 18px;
    margin: 20px;
    margin-top: 10px;
    font-family: 'montserrat';

}
.col-sm-6 {
    padding: 0px               !important;
}
.jumbotron {
    margin-bottom: 10px               !important;

}
#content {overflow: auto;
}

#nav, #featurer {
    margin: 1%;
    padding: 0%;
    text-align: center;
    color:#ADBE88}


.article {
    display: flex;
    padding: 20px;
    font-family: 'Montserrat';
    border-style: solid;
    border-width: .2px;
    border-color: #ADBE88;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    display: inline;
    padding: 0.5em;}

/* Table */
  
table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 100%;
  }
  
  thead th {
    background: #ADBE88;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: rgb(238, 243, 228);
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
    font-size: 18px;
  }
  tr:nth-child(odd) {
    background: #FCF9E8;
}
   /*end table*/

#nav {
    background-color: #ffffff;
    padding: 0.5em 0;
    color:#ADBE88;
    vertical-align: bottom;
    
}
#feature {
    height: 10em;
    margin-bottom: 1em;
    font-family: 'merriweather''Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
footer {
    display: block;
    padding: 20px;
  }

  

